table{
  border: 1px solid darkblue;
  color: darkblue;
  font-weight: bolder;
  position:relative;
  margin:auto;
  top:200px;
  width: 280px;
  height: 230px;
}
td{text-align: center;}
.box{
  width:200px;
}

a{
  font-size: 18px;
  
  color: blue;
}